<!DOCTYPE HTML>
<html data-ng-app='QuantumAnimation'>
<head>
<meta charset="utf-8">
<title>Animated Qubits</title>
<link rel="stylesheet" href="quantumAnimation.css" />
</head>

<body data-ng-controller='QuantumAnimationController'>
<h1>Animated Qubits</h1>
<p>
    Animated Qubits is a JavaScript library for visualising and animating quantum computation.
</p>

<ul>
    <li><a href="https://github.com/davidbkemp/animated-qubits">animated-qubits on GitHub</a></li>
</ul>

<p>Here is an example of what you can do with it:</p>

<div>
    <label for="numBits">Number of qubits:</label>
    <select id="numBits" data-ng-model='numBitsSelected' data-ng-change="onChangeNumBits()">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
    </select>
</div>

<form data-ng-submit="performOperation()">
<fieldset class="quantumOpSpecification">
<legend>Specify the operation to be performed</legend>
<div class="quantumOpSpecification_item">
    <label class="quantumOpSpecification_label"  for="operation">Operator:</label>
    <select name="operationId" id="operation"
        data-ng-model='operationIndex' data-ng-change="onChangeOperation()">
        <option data-ng-repeat='operation in operations' ng-value="$index"
            data-ng-bind='operation.name'>
        </option>
    </select>
</div>

<div class="quantumOpSpecification_item"
    data-ng-class="{quantumOpSpecification_item_disabled: controlBitsDisabled}">
    <label class="quantumOpSpecification_label" >Control bits:</label>
    <span data-ng-repeat='bitLabel in bitLabels'>
        <label ng-bind='bitLabel' for="control{{bitLabel}}"
            class="quantumOpSpecification_checkboxLabel"></label>
        <input type="checkbox" id='control{{bitLabel}}'
            data-ng-model='controlBits[bitLabel]'
            data-ng-disabled="controlBitsDisabled || targetBits[bitLabel]"/>
    </span>
</div>
<div class="quantumOpSpecification_item"
    data-ng-class="{quantumOpSpecification_item_disabled: targetBitsDisabled}">
    <label class="quantumOpSpecification_label" >Target bits:</label>
    <span data-ng-repeat='bitLabel in bitLabels'>
        <label ng-bind='bitLabel' for="target{{bitLabel}}"
            class="quantumOpSpecification_checkboxLabel"></label>
        <input type="checkbox" id='target{{bitLabel}}'
            data-ng-model='targetBits[bitLabel]'
            data-ng-disabled="targetBitsDisabled || controlBits[bitLabel]"/>
    </span>
    <button type="button" data-ng-click='selectAllAsTargetBits()'>All</button>
</div>

<div class="quantumOpSpecification_item">
    <input type="submit" data-ng-disabled="!validInputs()" value="Perform Operation"></input>
</div>

</fieldset>

 <output class="qstate" ng-bind='animatedQubitsContainer.qstate'></output>

</form>

<svg id='animatedQubitsSvg' data-animated-qubits='animatedQubitsContainer' class='animatedQubits'></svg>

<script src="bower_components/animated-qubits/animatedQubits.min.js" type="text/javascript"></script>
<script src="bower_components/d3/d3.min.js" type="text/javascript"></script>
<script src="bower_components/d3-measure-text/lib/d3-measure-text.js" type="text/javascript"></script>
<script src="bower_components/d3-transform/src/d3-transform.js" type="text/javascript"></script>
<script src="bower_components/jsqubits/lib/jsqubits.js" type="text/javascript"></script>
<script src="bower_components/q/q.js" type="text/javascript"></script>
<script src="bower_components/lodash/dist/lodash.min.js" type="text/javascript"></script>


<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>
<script src="quantumAnimationController.js"></script>
<script src="animatedQubitsDirective.js"></script>
<script src="quantumAnimationApp.js"></script>

</body>
</html>