body {
    margin: 1em;
    max-width: 960px;
}

h1, h2 {
    color: #25378B;
}

#groverSvg {
    border: 1px solid black;
    width: 32em;
    padding-left: 1em;
}

.animatedQubitsAmplitudeCircle {
    fill: hsla(195, 53%, 60%, 0.5);
}

.animatedQubitsPhaseArrow {
    stroke: red;
    stroke-width: 2px;
}

.animatedQubitsPhaseArrowEnd {
    fill: red;
}

.animatedQubitsBitLabels {
    display: none;
}

#qstate {
    min-height: 3em;
}

.label {
    font-weight: bold;
}

.dynamicSection {
    padding: 1em;
    border: 1px solid #999;
}

.animationArea {
    position: relative;
}

#run {
    background-color: hsla(195, 53%, 60%, 0.5);
    border-color: hsla(195, 53%, 60%, 0.5);
    border-radius: 4px;
    font-size: 100%;
}

#solution {
    position: absolute;
    top: 2em;
    left: 7em;
    font-size: 200%;
}