.animatedQubits {
    border: 1px solid black;
    width: 400px;
}

.animatedQubitsAmplitudeCircle {
    fill: hsla(195, 53%, 60%, 0.5);
}

.animatedQubitsPhaseArrow {
    stroke: red;
    stroke-width: 2px;
}

.animatedQubitsPhaseArrowEnd {
    fill: red;
}

