.animatedQubits {
    border: 1px solid black;
    width: 32em;
    margin: 1em;
}

.animatedQubitsAmplitudeCircle {
    fill: hsla(195, 53%, 60%, 0.5);
}

.animatedQubitsPhaseArrow {
    stroke: red;
    stroke-width: 2px;
}

.animatedQubitsPhaseArrowEnd {
    fill: red;
}

.quantumOpSpecification {
    width: 28em;
    margin: 1em;
    padding: 0 2em;
    border: 1px solid #999;
}

.quantumOpSpecification_item {
    list-style: none;
    margin: 1em 0;
    padding: 0;
    border-bottom: 1px solid black;
}

.quantumOpSpecification_item:last-child {
    border: none;
}

.quantumOpSpecification_item_disabled {
    color: gray;
}

.quantumOpSpecification_label {
    display: inline-block;
    width: 7em;
}

.quantumOpSpecification input[type=checkbox] {
    margin-right: 1em;
}

output.qstate {
    display: block;
    margin-left: 1em;
}