#groverSvg {
    border: 1px solid black;
    width: 32em;
    margin: 1em;
    padding-left: 1em;
}

.animatedQubitsAmplitudeCircle {
    fill: hsla(195, 53%, 60%, 0.5);
}

.animatedQubitsPhaseArrow {
    stroke: red;
    stroke-width: 2px;
}

.animatedQubitsPhaseArrowEnd {
    fill: red;
}

.animatedQubitsBitLabels {
    display: none;
}

#qstate {
    min-height: 3em;
}

.animationArea {
    position: relative;
}

#solution {
    position: absolute;
    top: 2em;
    left: 7em;
    font-size: 200%;
}